@model List<DALProyectoCRUD.CONTACTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Telefono
        </th>
        <th>
            Fecha Nacimiento
        </th>
        <th>
            Fecha Registro
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdContacto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdContacto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdContacto })
        </td>
    </tr>
}

</table>
